<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- 配置自动扫描的包 -->
	<context:component-scan base-package="com.eleven.shop"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
    <!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 将在 SpringMVC 上下文中定义一个 – DefaultServletHttpRequestHandler，它会对进入 DispatcherServlet 
		的 请求进行筛查，如果发现是没有经过映射的请求，就将该请求交由 WEB 应用服务器默认的 Servlet 处理， 如果不是静态资源的请求，才由 DispatcherServlet继续处理 -->
	<mvc:default-servlet-handler />
	<!-- 默认的注解映射的支持 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- <mvc:mapping path="/**" /> 如果只写一个*，则不能拦截类似/*/*的请求。静态资源的请求需要判断不进行拦截 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/order/**" />
			<mvc:mapping path="/admin/**" />
			<mvc:mapping path="/adminLogin" />
			<mvc:mapping path="/adminIndex" />
			<bean class="com.eleven.shop.interceptor.LoginInterceptor">
				<property name="excludeUrl">
					<array>
						<value>/adminLogin</value>
						<value>/admin/checkAdmin</value>
					</array>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>