.logo {
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	float: left;
}

.logout {
	float: right;
	padding: 30px 15px 0 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.textbox {
height:23px;
padding:0 3px;
}
.dialog-button{
	text-align:center;
}
.redo{
	display:none;
}

